@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

body{
    font-family: 'Quicksand' , sans-serif ;
    margin: 0;
    padding: 0;
}
/*header*/
.bilboard{
    background-color: #00af91;
    text-align: center;
    padding: 30px;
    color: white;
    font-family: Arial;
    font-size: 18px;
    
}
.profile header{
    text-align: center;
}
header{
    display: inline;
    background-color: #00af91;
}

nav{
    background-color: #007965;
    padding: 2px;
    position: sticky;
    top: 0;
    overflow: auto;
}


.nav-ul{
    float: left;
    text-align:  left;
    padding-right: 30px;
}
nav li{
    display: inline;
    margin-right: 10px;
    list-style-type: none;
}

nav a{
    font-size: 16px;
    font-weight: 600px;
    color: white;
    text-decoration: none;
}

nav a:hover{
    font-weight: bold;
}
/*Artikel*/

#content{
    float: left;
    width: 75%;
}

main{
    padding: 18px;
    overflow: auto;
}

.card{
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.p-upper::first-letter{
    font-size: 20px;
    font-weight: bold;
    color: black;
}

/*Img*/
.satu {
    float: left;
    margin: 10px;
}

.clear{
    clear: left;
}

.dua{
    float: right;
    margin: 10px;
}

.clear2{
    clear: right;
}

.featured-image{
    max-height: 300px ;
    width: 30%;
    object-fit: cover;
    object-position: center;
}

/*Aside*/
.container-1{
    text-align: center;
}

.yes-button{
    border-radius: 5px;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color :#7CBB00;
    font-size: 16px;
}

.clear-button{
    border-radius: 5px;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color :#E50914;
    font-size: 16px;
}
aside{
    float: right;
    width: 25%;
    padding-left: 20px;
}

.profile img{
    max-width: 200px;
    border-radius: 50px;
}

*{
    box-sizing: border-box;
}

@media screen and (max-width: 600px){
    #content,
    aside {
        width: 100%;
        padding: 0;
    }
}

/*Footer*/
footer{
    padding: 20px;
    color: white;
    text-align: center;
    font-weight: bold;
    background-color: #00af91;
}